
{{ define "main" }}
{{ partial "header/site-header.html" . }}
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="bg-slate-100">
          <p class="text-2xl font-semibold">Vélos actuellement en vente</p>
        </div>
        <div class="mt-6 grid grid-cols-2 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {{ range .Pages }}
            {{ partial "header/site-image.html" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ partial "header/site-footer.html" . }}
{{ end }}
{{ define "footer" }}

{{ end }}