{{ define "header" }}
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 ">
    <img src="/images/header.webp">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
         aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
         aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">BM Cycles</h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">BM Cycles est une entreprise spécialisée dans la réparation
                et l'entretien de vélos. Nous offrons des services de qualité supérieure pour tous les types de vélos,
                avec une équipe d'experts passionnés. Nous utilisons des pièces détachées de haute qualité et proposons
                une gamme d'accessoires. Notre objectif est de fournir un service client exceptionnel et de garantir des
                réparations durables. Faites confiance à BM Cycles pour prendre soin de votre vélo</p>
        </div>
    </div>
</div>

{{ end }}
{{ define "main" }}
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {{ range .Pages }}
            <div class="group relative">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-70">
                    <img src="{{ .Params.image }}" alt="Front of men&#039;s Basic Tee in black."
                         class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{ .Title }}
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">{{ .Params.model }}</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">{{ .Params.price }}</p>
                </div>
            </div>

            <!-- More products... -->
            {{ end }}
        </div>
    </div>
</div>

{{ end }}
