<footer class="bg-gray-900" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                <p class="text-sm leading-6 text-gray-300">Bicycle rental service in Cudrefin</p>
            <div class="mt-6 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div class="mt-0 md:mt-0">
                        <ul role="list" >
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">+41 78 813 13 14</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Route de Neuchâtel 24</a>
                            </li>
                            <li>
                                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">1588 Cudrefin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
            <p class="text-xs leading-5 text-gray-400">&copy; 2023 BM Cycles, tout droit réservé.</p>
        </div>
    </div>
</footer>
